@model XEPR.Models.tblAssessment

@{
    ViewBag.Title = "ModifyAssessment";
}

<h2>Modify Assessment</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tblAssessment</legend>

        @Html.HiddenFor(model => model.AssessmentId)

        <div class="editor-label">
            @Html.LabelFor(model => model.AssessmentTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AssessmentTitle)
            @Html.ValidationMessageFor(model => model.AssessmentTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description,new {style = "width: 300px;"})
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedBy)
            @Html.ValidationMessageFor(model => model.CreatedBy)
        </div>

      

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
     @Html.ActionLink("Back to Assessment List", "GetAssessmentList","Rating",new{style="font-weight:bold;"})
</div>
@section Scripts 
{
    @Scripts.Render("~/bundles/jqueryval")
}