@model XEPR.Models.tblAssessment

@{
    ViewBag.Title = "GetAssessment";
}

<h2>Assessment Details</h2>
<style>
table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: auto;
}

th {
    height: 50px;
}
</style>
<table style="font-weight:bold;">
    <tr>
        <td>@Html.DisplayNameFor(model => model.AssessmentTitle) </td>
        <td> @Html.DisplayFor(model => model.AssessmentTitle)</td>

    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Description)</td>
        <td>@Html.DisplayFor(model => model.Description)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.CreatedBy)</td>
        <td>@Html.DisplayFor(model => model.CreatedBy)</td>
    </tr>
  
    <tr>
        <td> @Html.DisplayNameFor(model => model.CreatedDateTime)</td>
        <td>@Html.DisplayFor(model => model.CreatedDateTime)</td>
    </tr>
    <tr>
        <td> @Html.DisplayNameFor(model => model.ModifiedDateTime)</td>
        <td> @Html.DisplayFor(model => model.ModifiedDateTime)</td>
    </tr>

</table>
<p>
    @Html.ActionLink("Back to Assessment List", "GetAssessmentList","Assessment", new { area="Administrator"},null)
</p>