@*@model IEnumerable<XEPR.Models.tblDepartment>*@
@model IPagedList<XEPR.Models.tblDepartment>

@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Department List";
}
<link href="~/Content/PagedList.css" rel="stylesheet" />

<h2>Department List View</h2>

<p>
    @Html.ActionLink("Create New Department", "CreateDepartment", "Department")
</p>

<table border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().CreatedDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ModifiedDateTime)
        </th>
        <th>Edit</th>
        <th>Details</th>
        <th>Delete</th>
    </tr>

    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDateTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "ModifyDepartment", new { id = item.DepartmentId })
            </td>
            <td>
                @Html.ActionLink("Details", "GetDepartment", new { id = item.DepartmentId })
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteDepartment", new { id = item.DepartmentId }, new { onclick = "return confirm('Are you sure to delete record?');" })
            </td>
        </tr>
        }
    }

</table>

<div class="page-count" style="display: inline-block; vertical-align: middle;">
    @Html.PagedListPager(Model, page => Url.Action("GetDepartmentList", new { page }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayItemSliceAndTotal = true, DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded, DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded })
</div>
<div>
    @Html.ActionLink("Back to Home Page", "AdminPage", "Admin", new { area = "Administrator" }, null)
</div>
