@model IEnumerable<XEPR.Models.tblRating>

@{
    ViewBag.Title = "Rating List";
}

<h2>Rating List View</h2>


<p>
    @Html.ActionLink("Create New Rating", "CreateRating", "Rating",new{style="font-weight:bold;"})
</p>
<table border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RatingText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatingValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.IsSelected)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
           @* @Html.DisplayNameFor(model => model.CreatedDateTime)*@
            CreatedDate
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ModifiedDateTime)*@
            ModifiedDate
        </th>
        <th>

            Edit
        </th>
        <th>

            Details
        </th>
         <th>

            Delete
        </th>
         
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RatingText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RatingValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.IsSelected)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDateTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "ModifyRating", new { id=item.RatingId }) 
            </td>
        <td>
              @Html.ActionLink("Details", "GetRating", new { id=item.RatingId })
            </td>
        <td>
          @Html.ActionLink("Delete", "DeleteRating", new { id=item.RatingId, style="font-weight:bold;" }, new { onclick="return confirm('Are you sure to delete record?');" })
        </td>
    </tr>
}
   
</table>
<div>
     @Html.ActionLink("Back to Home Page", "AdminPage","Home")
   @* @Html.ActionLink("Back to Home Page", "AdminPage","Home",new{style="font-weight:bold;"})*@
</div>