@model XEPR.Models.tblRating

@{
    ViewBag.Title = "GetRating";
}

<h2>Rating Details</h2>

<fieldset>
    <legend>Rating</legend>
@*<table>
    <tr>
            <th>
         @Html.DisplayNameFor(model => model.RatingText)
         </th>
       <th>
          @Html.DisplayNameFor(model => model.RatingValue)

       </th>

        <th>
           @Html.DisplayNameFor(model => model.Description)

        </th>
        

        <th>
          @Html.DisplayNameFor(model => model.CreatedBy)

        </th>

        <th>
         @Html.DisplayNameFor(model => model.CreatedDateTime)

        </th>
        <th>

              @Html.DisplayNameFor(model => model.ModifiedDateTime)
        </th>
        </tr>
        
    <tr>
        <td>
        @Html.DisplayFor(model => model.RatingText)
  </td>
         <td>
        @Html.DisplayFor(model => model.RatingValue)
   </td>
         <td>

        @Html.DisplayFor(model => model.Description)
    </td>
         
         <td>
        @Html.DisplayFor(model => model.CreatedBy)
    </td>
         <td>
        @Html.DisplayFor(model => model.CreatedDateTime)
   </td>
         <td>
        @Html.DisplayFor(model => model.ModifiedDateTime)
        </td>
  </tr>

    </table>
</fieldset>
<p>
    @Html.ActionLink("Back To Rating List", "GetRatingList", "Rating" ,new{style="font-weight:bold;"})
</p>*@
</fieldset>

<style>
table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: auto;
}

th {
    height: 50px;
}
</style>


<table  style="font-weight:bold;" >
    <tr >
        <td >RatingText</td>
        <td > @Html.DisplayFor(model => model.RatingText)</td>

    </tr>

    <tr>
        <td>RatingValue</td>
        <td> @Html.DisplayFor(model => model.RatingValue)</td>

    </tr>
   
    <tr>
        <td>Description</td>
        <td> @Html.DisplayFor(model => model.Description)</td>

    </tr>
    <tr>
        <td>Created By</td>
        <td> @Html.DisplayFor(model => model.CreatedBy)</td>
     </tr>

    <tr>
     <td>Created Date</td>
     <td>@Html.DisplayFor(model => model.CreatedDateTime)</td>
    </tr>

    <tr>
     <td>Modified Date</td>
     <td>@Html.DisplayFor(model => model.ModifiedDateTime)</td>
    </tr>
</table>

<p>
    @Html.ActionLink("Back To Rating List", "GetRatingList", "Rating" ,new{style="font-weight:bold;"})
</p>
