@model XEPR.Models.tblRating

@{
    ViewBag.Title = "ModifyRating";
}

<h2>Modify Rating</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>tblRating</legend>

        @Html.HiddenFor(model => model.RatingId)

        <div class="editor-label">
            @Html.LabelFor(model => model.RatingText)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RatingText)
            @Html.ValidationMessageFor(model => model.RatingText)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RatingValue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RatingValue)
            @Html.ValidationMessageFor(model => model.RatingValue)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description,new {style = "width: 300px;"})
            @Html.ValidationMessageFor(model => model.Description)
        </div>

    

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedBy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedBy)
            @Html.ValidationMessageFor(model => model.CreatedBy)
        </div>

       

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
     @Html.ActionLink("Back to Rating List", "GetRatingList","Rating",new{style="font-weight:bold;"})
</div>
@section Scripts 
{
    @Scripts.Render("~/bundles/jqueryval")
}